<div class="container">
<div class="main_content">
	<div id="monthbody">
		<h1><%= @month.name %></h1>
<!-- 		<p>Created <%= time_ago_in_words(@month.created_at) %> ago</p> -->
	</div>
<div class="row">
<div class="col-md-6">
	<div id="incomes">
		<h2><%= @month.incomes.count %> Deposits </h2>

		<table>
			  <tr>
			    <th>Amount</th>
			    <th>From</th>
			    <th>Date</th>
			    <th></th>
			  </tr>
			<%= render @month.incomes %>
		</table>
		<div class="preform">
		<h4>Add New Income</h4>
		<%= render "incomes/form"%>
		</div>
	</div>
</div>
<div class="col-md-6">
	<div id="expenses">
		<h2><%= @month.expenses.count %> Expenses </h2>
		<table>
			  <tr>
			    <th>Amount</th>
			    <th>To:</th>
			    <th>Date</th>
			    <th></th>
			  </tr>
			<%= render @month.expenses %>
		</table>
		<div class="preform">
		<h4>Add New Expense</h4>
		<%= render "expenses/form"%>
		</div>
	</div>
</div>
 	<div class="row">
		<div class="col-md-12"><center>
			<%= link_to "Back", months_path, class: "btn btn-default" %>
			<%= link_to "Edit", edit_month_path, class: "btn btn-default" %>
			<%= link_to "Delete", month_path, method: :delete, data: {confirm: "Are you sure you want to delete this list?"}, class: "btn btn-default" %></center>
		</div>
	</div>
</div>
</div>
</div>