<div class="container">
  <div id="note_show">
    <h1 class="title">
      <%= @note.title %>
    </h1>
    <p>
      <%= simple_format(@note.content) %>
    </p>
  </div>
  <div class="buttons">
    <%= link_to "All Notes", notes_path(@note), class: "button" %>
    <%= link_to "Edit", edit_note_path(@note), class: "button" %>
    <%= link_to "Delete", note_path(@note), method: :delete, data: { confirm: "Are you sure you want to delete that note?" }, class: "button" %>
  </div>
</div>
