<div class="container">
	<div id="monthbody">
		<h1><%= @month.name %></h1>
		<p>Created <%= time_ago_in_words(@month.created_at) %> ago</p>
	</div>

	<div class="row">
		<div class="col-md-12">
			<%= link_to "Back", tasklist_index_path, class: "btn btn-default" %>
			<%= link_to "Edit", edit_tasklist_path, class: "btn btn-default" %>
			<%= link_to "Delete", tasklist_path, method: :delete, data: {confirm: "Are you sure you want to delete this list?"}, class: "btn btn-default" %>
		</div>
	</div>
</div>