<div class="container">
	<div class="form">
		<%= simple_form_for [@month, @month.expenses.build] do |f| %>
			<%= f.input :amount%>
			<%= f.input :to%>
			<%= f.input :duedate%>
			<%= f.submit %>
		<%end%>
	</div>
</div>