<!DOCTYPE html>
<html>
<head>
  <title>EasyManage</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header">
      <p><%= notice %></p>
      <p><%= alert %></p>
      <h1 class="navbar-brand"><%= link_to "Restaurant-Pro", welcome_index_path %></h1>
      <ul class="nav nav-pills pull-right">
        <li><%= link_to "Tasks", tasklist_index_path %></li>
        <li><%= link_to "Notes", notes_path %></li>
        <li><%= link_to "Recipes", recipes_path %></li>
        <li><%= link_to "Finances", months_path %></li>
      </ul>
  </div>

<%= yield %>

</body>
</html>
